<div class="container-fluid">
  <h2>Books</h2>
  <ul class="book-list" *ngIf="books.length > 0">
    <li class="lista" *ngFor="let book of books" (click)="onSelectBook(book)">
      Title: {{book.title}}
      <br>
      Genre: {{book.genre}}
      <div class="card-body">
        Authors:
        <span class="card-text" *ngFor="let author of book.authors; let isLast=last">
          <small class="text-muted">{{author.name}}{{isLast ? '' : ', '}}</small>
        </span>
      </div>
    </li>
  </ul>
  <button routerLink="/book" type="button" class="btn btn-danger">Add new book</button>

  
  <div class="row" *ngIf="selectedBook">
    <div class="container-fluid">
      <div class="center">
        <h1>Pages</h1>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let page of selectedBook.pages;  let isLast=last ">
      <div class="stranica">
        <div class="aaa"> Ordinal number: {{page.ordinalNumber}}</div>
        <br>
        <div class="conent">
          Content: <br>
          {{page.content}}</div>
      </div>
    </div>
  </div>
</div>