ul{
    border: solid 1px;
}

ul:hover{
    background-color: bisque;
}

.card.selected{
    border: solid 1px rgb(255, 0, 0) !important;
}

.card{
   cursor: pointer; 
}

.card:hover{
    border: solid 1px rgb(255, 0, 0) !important;
    margin-top: -4px !important;
}  