.author-list {
  width: 25em;
  height: 40px;
}

h2 {
  color: red;
}



span.badge.pull-left {
  margin-right: 10px;
  width: 30px;
}

.booktitle {
  text-align: center;
  background: rosybrown;
  color: red;
}

.stranica {
  background-color: rgb(100, 100, 230);
  margin: 10px;
  border: 5px solid whitesmoke;
  height: 300px;
  width: 200px;
}

.aaa {
  position: relative;
  top: 50%;
}

.author-list.list-group-item {
  cursor: pointer;
}

.author-list.list-group-item:hover {
  background-color: mediumseagreen;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
}