<div class="container-fluid">
  <h2>Authors</h2>
  <ul class="list-group ">
    <li *ngFor="let author of authors" (click)="onSelect(author)">
      <div class="author-list list-group-item">
        <span class="badge pull-left">{{author.id}}</span> {{author.name}}
      </div>
    </li>
  </ul>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button routerLink="/author" type="button" class="btn btn-secondary">Add new author</button>
    <button type="button" class="btn btn-secondary" (click)="deleteAuthor(selectedAuthor)">Delete author</button>
  </div>
</div>