.author-list {
  width: 25em;
  height: 40px;
  
}
h2{
  color: seagreen;
  background-color: whitesmoke
}
.author-list li {
  cursor: pointer;
}
span.badge.pull-left {
  margin-right: 10px;
  width: 30px;
}

.author-list.list-group-item{
  cursor: pointer;
}
.author-list.list-group-item:hover{
background-color: mediumseagreen;
}

.flex-container{
  display: flex;
  justify-content: flex-start;
}
.flex-container .btn-info{
  cursor: pointer;
}
ul{
list-style-type: none;
}